{% extends 'base.html' %}

{% block content %}


<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Your Phonebook</h1>
            </div>
        </div>
    </div>
</section>

{% if current_user.is_authenticated %}
    <h3>Here are the people in your phone book:</h3>
    {% for items in contact %}
        <h3>{{ item.name }}</h3>
        <p>{{ item.email }}</p>
        <p>{{ item.phone_number }}</p>
        <p>{{ item.address }}</p>
    {% endfor %}
{% else %}
    <h3>Please login to make a phone book.</h3>
{% endif %}
{% endblock %}